<% include ../partials/header %>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>House</p>
            <div class="list-group">
                <li>
                    <div id='map' style='width: 380px; height: 500px;'></div>
                    <html>
                    <head>
                        <meta charset='utf-8' />
                        <title>Display driving directions</title>
                        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
                        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
                        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
                        <style>
                            body { margin:0; padding:0; }
                            #map { position:absolute; top:0; bottom:0; width:100%; }
                        </style>
                    </head>
                    <body>
                    
                    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.js'></script>
                    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.css' type='text/css' />
                    <div id='map'></div>
                    
                    <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoieWlmZGFkZHkiLCJhIjoiY2ptMjZuN3A3MnZndjNwb2d2NWZweHU1YyJ9.JdjKIbpQIvyhgTuY-yiSVw';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v9',
                        center: [-79.4512, 43.6568],
                        zoom: 13
                    });
                    
                    map.addControl(new MapboxDirections({
                        accessToken: mapboxgl.accessToken
                    }), 'top-left');
                    </script>
                    
                    </body>
                    </html>
                </li>
            </div>
        </div>
        <div class="col-md-8 pull-right">
            <div class="thumbnnail">
                <img class="img-responsive" src="<%= house.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= house.price %>/Night</h4>
                    <h4><a><%= house.name %></a></h4>
                    <p><%= house.description %></p>
                    <p>The Porperty is Located at <%=house.location%></p>
                    <p>Created by <em><%=house.writer.username%></em></p>
                    <% if (currentUser && house.writer.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/houses/<%= house._id %>/edit">Edit Info</a>
                        <form id="delete-form" action="/houses/<%= house._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div clss="well">
                <div class="text-right">
                    <p>
                    <a class= "btn btn-success" href="/houses/<%= house._id %>/comments/new">Tell Us How Do You Think</a>
                    </p>
                </div>
                <% house.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                    <em><strong><%= comment.writer.username %></strong></em>                     
                    <span class="pull-right">10 Days ago</span>
                    <p><%= comment.text %></em></p>
                    <% if (currentUser && comment.writer.id.equals(currentUser._id)) { %>
                        <a class="btn btn-xs btn-warning" href="/houses/<%=house._id %>/comments/<%= comment._id %>/edit">
                            Edit Comment
                        </a>
                        <form id="delete-form" action="/houses/<%=house._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        
                        </form>
                    <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>